<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="GenaralStore.com.resources.ListenerClass"></listener>
<listener class-name="GenaralStore.com.resources.ReportNg"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="GeneralStore.com.generalstore.EcommerceTest2"/>
      <class name="GeneralStore.com.generalstore.EcommerceTest1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
